/*Universal Style*/
body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v3/5NAKUBdE3Nb95aTaJlZOXQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url(https://fonts.gstatic.com/s/kanit/v3/RHqh14DjcvgZGJknoCzKXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v3/mEn4jJ-yZGnuuUYbIaJjw_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/*Header*/

header {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
}

 nav {
   width: 100%;
   text-align: right;
   margin-right: 1.5rem;
   font-size: 1.125rem;
}
nav li {
  margin-right: 1rem;
  font-weight: 400;
}

nav li:last-child {
  margin-right: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-family: "kanit", sans-serif;
  font-weight: 500;
}

.logo-img img {
  height: 2.5rem;
  width: auto;
}

.logo a {
  color: #c0c0c0;
}
.icon {
  display:none;
}

ul li {
  display: inline;

}

/*Banner Section*/

.banner {
  background-color: #c0c0c0;
}

.container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
  margin-bottom: 2rem;

}

.banner-img {
  max-width: 60%;
  ;
}

.banner-img img {
  width: 100%;

}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  margin-left: 1.5rem;
  color: hsl(0, 0%, 20%);
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.message h1, .message h2 {
  margin-bottom: 1.5rem;

}

.btn {
  font-size: 1.125rem;
  background-color: hsl(0, 0%, 20%);
  color: white;
  text-align: center;
  width: 80%;
  padding:.5rem;

}

/*Info Section*/



.section.flex {
  max-width: 60%;
  padding-right: 1.5rem;
}

.info-img img {
  width: 100%;
}

.links {
  display: inline-flex;
  max-width: 40%;
  flex-direction: column;
  border-left: hsl(0, 0%, 88%) solid 1px;

}

.link {
  padding: 1.5rem;
}
.link.Orientation, .link.our-campus, .link.guest {
  display: inline-flex;
  align-items: center;
}

.link.Orientation {
  border-bottom: hsla(0, 0%, 88%, .5) solid 5px;

}

.link.guest {
  background-color: hsl(0, 0%, 88%)
}

.link-img {
  max-width: 35%;
}

.link-img img {
  width: 100%;
  height: auto;
}

.caption {
  width: 65%;
  margin-left: 1.5rem;
}

.info h1 {
  font-size: 3rem;
}
.info h1, .info p {
  margin: 2rem auto 1.5rem auto;
}

.info p {
  font-size: 1.125rem;
}

.links h3 {
  font-size: 2rem;
  font-weight: 500;
}

/*Learning Section*/

#learn {
  background-color: hsl(0, 0%, 88%);
  padding-bottom: 2rem;


}

#learn h1, #exhibit h1 {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.courses {
  display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0 4.5rem 0 4.5rem;
}

.course {
  max-width: 25%;
  height: auto;
  padding: 1rem 2rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course h2 {
  font-size: 1.5rem;
}

.details {
  background-color: #fff;
  padding: 1rem;
  line-height: 1.5;
  height: 8rem;
}

.details span {
  padding: .5rem 0;
}

/*Thesis Exhibit Section*/


.thesis-vid video {
  width:100%;
}
