/*Universal Style*/
body {
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color:#423F38;
}

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v3/5NAKUBdE3Nb95aTaJlZOXQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  src: local('Kanit Medium'), local('Kanit-Medium'), url(https://fonts.gstatic.com/s/kanit/v3/RHqh14DjcvgZGJknoCzKXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v3/mEn4jJ-yZGnuuUYbIaJjw_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/*Header*/

header {
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
  background-color: #F1F1F1;

}

 nav {
   width: 100%;
   text-align: right;
   margin-right: 1.5rem;
   font-size: 1.125rem;
}
nav li {
  margin-right: 1rem;
  font-weight: 400;
}

nav li:last-child {
  margin-right: 0;
}


li a:visited {
  color: ##423F38;
}

li a:hover {
  color: #CF9B00;
  transition: color 200ms ease 100ms;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-family: "kanit", sans-serif;
  font-weight: 500;
}

.logo-img img {
  height: 2.5rem;
  width: auto;
}

.logo a {
  color: #CF9B00;
}
.icon {
  display:none;
}

ul li {
  display: inline;

}

@media only screen and (max-width: 768px) {
  nav li {
    display: none;
  }

  .truncated-icon {
    display: flex;
    justify-content: space-around;
  }

  .icon {
    display: inline-flex;
  }

  .logo {
    display: none;
  }
}

/*Banner Section*/

#banner {
  background-color: #FFDF7E;
}

.container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;

}

.banner-img {
  max-width: 60%;
  ;
}

.banner-img img {
  width: 100%;

}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  margin-left: 1.5rem;

}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

.message h1, .message h2 {
  margin-bottom: 1.5rem;

}

.btn {
  font-size: 1.125rem;
  background-color: #28282E;
  color: white;
  text-align: center;
  width: 80%;
  padding:.5rem;

}

.btn a:visited {
  color: #fff;
}

.btn a:hover {
  color: #CF9B00;
  font-size: 2rem;
  transition: color 250ms ease 150ms,
  font-size 500ms ease-out 150ms;
}

@media only screen and (max-width: 768px) {

  .container {
    flex-direction: column;
    padding: 0;
  }

  .banner-img {
    max-width: 100%;
  }

  .banner-img img {
    height: auto;
  }

  .message {
    max-width: 100%;
    padding: 2rem 1rem;
    margin: 0;
  }

  .btn {
    max-width: 100%;
    width: auto;
  }
}

/*Info Section*/

#info a:visited {
  color: #423F38;
}

#info a:hover {
  color: #CF9B00;
  transition: color 200ms ease 100ms;
}


.section.flex {
  max-width: 60%;
  padding-right: 1.5rem;
}

.info-img img {
  width: 100%;
}

.text-content {
  padding-top: 2rem;
}

.text-content h1, .text-content p, .text-content span {
  padding-bottom: 1.5rem;

}
.links {
  display: inline-flex;
  max-width: 40%;
  flex-direction: column;
  border-left: hsl(0, 0%, 88%) solid 1px;

}

.link {
  padding: 1.5rem;
}
.link.Orientation, .link.our-campus, .link.guest, .link.prototype, .link.now-and-then {
  display: inline-flex;
  align-items: center;
}

.link.Orientation {
  border-bottom: hsla(0, 0%, 88%, .5) solid 5px;

}

.link.guest, .link.prototype {
  background-color: #F1F1F1
}

.link-img {
  max-width: 35%;
}

.link-img img {
  width: 100%;
  height: auto;
}

.caption {
  width: 65%;
  padding-left: 1.5rem;
  line-height: 2rem;
}

.caption p {
  padding-top: .5rem;
}

.info h1 {
  font-size: 3rem;
}
.info h1, .info p {
  margin: 2rem auto 1.5rem auto;
}

.info p {
  font-size: 1.125rem;
}

.links h3 {
  font-size: 2rem;
  font-weight: 500;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px){
  #info .section.flex {
    display: none;
  }

  .link.Orientation, .link.our-campus, .link.guest, .link.prototype, .link.now-and-then {
    display:inline-block;
    width: 100%;
    padding: 1rem 1rem 4rem 1rem;
  }

  .link-img img {
    display: none;
  }

  .link-img {
    width: 80%;
  }

  .links {
    max-width: 100%;
    justify-content: center;
  }

  .mobile {
    display: flex;
}

.link.Orientation {
  border-bottom: none;
}

.link.guest {
  background-color: #fff;
}

.caption {
  padding: 2rem 1rem;
}

}
/*Learning Section*/

#learn {
  background-color: #FFDF7E;
  padding-bottom: 2rem;


}

#learn h1, #exhibit h1 {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

#learn a:visited {
  color: #423F38;
}

#learn a:hover {
  color: #CF9B00;
  transition: color 200ms ease 100ms;
}

.courses {
  display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0 4.5rem 0 4.5rem;
}

.course {
  max-width: 25%;
  height: auto;
  padding: 1rem 2rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course h2 {
  font-size: 1.5rem;
}

.details {
  background-color: #fff;
  padding: 1rem;
  line-height: 1.5;
  height: 8rem;
}

.details span {
  padding: .5rem 0;
}

/*Thesis Exhibit Section*/


.thesis-vid video {
  width:100%;
}

#exhibit .links {
  border: none;
}

#exhibit .text-content {
  padding: 1.5rem 0 2rem 0;
}

#exhibit a:visited {
  color: #423F38;
}

#exhibit a:hover {
  color: #CF9B00;
  transition: color 200ms ease 100ms;
}

.text-content h2 {
  padding-bottom: .5rem;
}

/*Footer Section*/

footer .container {
  border-top: hsl(0, 0%, 88%) solid 1px;
  padding: 1rem 1.5rem 2 1.5rem;
}

footer .container span {
  width:100%;
}

.terms {
  width: 100%;
  text-align: right;
  padding-right: 1.5rem;
}

.terms li {
  padding-right: 1rem;
}
